

.extention{


  margin-left: auto;
  margin-right: auto;

  width: 200px;

  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 32px;
  font-family: Roboto;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}
.number{
  border-radius: 20%;
  width: 25px;
  text-align: center;
}
.digitContainer{
  margin-top: 150px;
  width: 870px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  z-index: 10;
  border-radius: 10%;

}
.firstDigit{
  margin-left: 35px;
}
.digit{


  width: 39px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
.digit .window1 input{
  width: 30px;
  height: 40px;
  font-size: 30px;
  border-radius: 10%;
}
.arrow{

  height: 50px;
}
.arrow img{
  width: 100%;
  height: 50px;
}
.arrow2{

  height: 50px;
}
.arrow2 img{
  width: 100%;
  height: 50px;
}
.secondDigit .arrow img{
  width: 500px;
}
.scale{
  position: relative;

  text-align: center;
  margin-top: -19px;
  z-index: 1;
  width: 880px;
  margin-right: auto;
  margin-left: auto;
}
.hidden{
  visibility: hidden;
}
canvas{

  width: 600px;
  height: 100px;
}
.resultwindow{
  width: 50px;
  height: 30px;
  position: relative;
  right: 35px;
  font-size: 30px;
  border-radius: 10%;

}
